BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 100
BreakBeforeBraces: Attach
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
DerivePointerAlignment: false
UseTab: Never
